In [17]:
import pandas as pd

In [18]:
df = pd.read_csv('./berita.csv')
df = df.drop(columns=['Unnamed: 0'])

In [19]:
df.columns

Index(['question', 'answer', 'context', 'category', 'question_type', 'id'], dtype='object')

In [20]:
df.shape

(163164, 6)

In [21]:
df['category'].value_counts()

category
nasional         74687
internasional    27055
olahraga         20702
ekonomi          14785
lifestyle        11126
entertainment     7880
pendidikan        4345
religi            1342
saintek           1242
Name: count, dtype: int64

In [22]:
df['question_type'].value_counts()

question_type
Apa          69480
Siapa        30441
Kapan        20954
Mengapa      13468
mana         10993
Berapa        8057
Bagaimana     5461
apa           1429
Apakah         707
siapa          684
Dimana         576
berapa         514
kapan          281
Kenapa          94
bagaimana       14
mengapa          6
apakah           3
dimana           1
Mana             1
Name: count, dtype: int64

In [23]:
df = pd.read_csv('./berita_train.csv')
df = df.drop(columns=['Unnamed: 0'])

In [24]:
df.columns

Index(['Unnamed: 0.1', 'question', 'answer', 'context', 'category',
       'question_type', 'id'],
      dtype='object')

In [25]:
df.shape

(162534, 7)

In [26]:
df['category'].value_counts()

category
nasional         74437
internasional    26939
olahraga         20612
ekonomi          14727
lifestyle        11078
entertainment     7847
pendidikan        4322
religi            1340
saintek           1232
Name: count, dtype: int64

In [27]:
df['question_type'].value_counts()

question_type
Apa          69390
Siapa        30351
Kapan        20864
Mengapa      13378
mana         10908
Berapa        7967
Bagaimana     5371
apa           1429
Apakah         707
siapa          684
Dimana         571
berapa         514
kapan          281
Kenapa          94
bagaimana       14
mengapa          6
apakah           3
dimana           1
Mana             1
Name: count, dtype: int64

In [28]:
df = pd.read_csv('./berita_test.csv')
df = df.drop(columns=['Unnamed: 0'])

In [29]:
df.columns

Index(['question', 'answer', 'category', 'question_type'], dtype='object')

In [30]:
df.shape

(630, 4)

In [31]:
df['category'].value_counts()

category
olahraga         70
nasional         70
saintek          70
lifestyle        70
entertainment    70
internasional    70
ekonomi          70
pendidikan       70
religi           70
Name: count, dtype: int64

In [32]:
df['question_type'].value_counts()

question_type
apa          90
siapa        90
dimana       90
kapan        90
bagaimana    90
mengapa      90
berapa       90
Name: count, dtype: int64